body {
  font-family: 'Hepta Slab', serif;
}

div img {
  height: auto;
  width: 10em;
}

.my-5 {
  padding-top: 5rem !important;
  padding-bottom: 2rem !important;
}

.titles {
  font-size: 1
}

.start-btn {
  font-size: 13px;
}

.social-media-icons a img {
  height: auto;
  width: 4em;
  padding: 15px;
}

.my-3 {
  padding-bottom: 2rem !important;
}
