body {
  font-family: 'Hepta Slab', serif;
}

div img {
  height: auto;
  width: 10em;
}

.mb-5 {
  padding-bottom: 2rem !important;
}

.titles {
  font-size: 1
}

.start-btn {
  font-size: 13px;
}

.social-media-icons a img {
  height: auto;
  width: 4em;
  padding: 15px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
